<div class="jumbotron container">
    <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:brown"><b>WELCOME TO ADMIN PAGE !!</b></h1><br>


      <nav class="nav nav-pills nav-fill flex-column flex-sm-column">
        <a class="flex-sm-fill text-sm-center nav-link " href="showUser">User Details</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="showMerchant">Merchant Details</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="showProduct">Product Details</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="showDiscount">Discount Details</a>
        <a class="flex-sm-fill text-sm-center nav-link " href="showPromocode">Promocode Details</a>

      </nav>

    </div>
